@import "vars.scss";
@import "normalize.scss";
@import "normal.scss";
@import "hover.scss";
@import "compass/css3";
//@import "../../../libs/css/jquery-ui.css";




body{
    font-size: $baseFontSize;
    font-family: $bodyFontFamily;
    color:$color-negro;
    background:$color-blanco;
    line-height: $baseLineHeight;
}

.clear{
  clear:both;
}


.wrapper{
  width: $wrapper;
  margin: 0 auto;
  height: 600px;
  position:relative;
}

#home{
  background: url(../img/home.jpg) no-repeat;
  
  #logos{
    float: left;
    margin:90px 0 0 90px;
    img{
      float: left;
    }

  }//img

  #iniciar{
    @include border-radius(20px, 20px);
    background: $color-azulBoton;
    color:$color-blanco;
    font-size: $baseFontSize + 23;
    font-weight: bold;
    padding:10px;
    border: 4px solid $color-blanco;
    display:inline-block;
    position:absolute;
    top: 122px;
    right: 64px;
    a{
      text-decoration: none;
      color:#fff;
    }
  }//iniciar

  #titulo{
    position:absolute;
    top: 217px;
    left: 30px;
  }

  #avatarhome{
    position:absolute;
    bottom: 75px;
    right: 28px;
  }

  #intrucciones{
    position:absolute;
    bottom:58px;
    left: 136px;
    color: $color-blanco;
    width: 480px;
    p{
      font-size: $baseFontSize + 23;
      line-height: $baseFontSize + 44;
    }
    ol{
      list-style-type: decimal;
      list-style-position: inside;
      li{
        padding-bottom:3px;
      }
    }//ol
  }//

}//home

  .button{
    @include border-radius(20px, 20px);
    background: $color-azulBoton;
    color:$color-blanco;
    font-weight: bold;
    padding:10px;
    border: 4px solid $color-blanco;
  }//iniciar

  .verde{
    background: $color-verdeBack;
  }


#descomposicion{
  background: url(../img/fondo2.jpg) no-repeat;
  #titulo{
    position:absolute;
    bottom:20px;
    left:6px;
  }
  #avatar{
    position: absolute;
    bottom:0px;
    right: 10px;
  }

  #nav{
    position: absolute;
    bottom:10px;
    left: 230px;
    button{
      padding: 10px;
      margin-right: 20px;
      color:$color-blanco;
      border:2px solid $color-blanco;
      background:transparent;
      text-transform: uppercase;
    }
  }//nav
  
  #logos{
    position:absolute;
    bottom:67px;
    right: 164px;
    img.edinum{
      margin-right: 60px;
    }
  }//logos

  #menu{
    width: 200px;
    padding: 60px 60px 0 50px;
    float: left;
    p{
      font-size: $baseFontSize + 27;
      line-height: $baseFontSize + 37;
      text-align: center;
      text-transform: uppercase;
      color:$color-azulBoton;
    }

    ul{
      background: $color-azulBoton;
      @include border-radius(10px, 10px);
      border: 5px solid $color-blanco;
      padding: 10px 32px;
      li{
        color:$color-blanco;
        font-size: $baseFontSize + 2;
        padding:5px 0;
        width: 100%;
        font-weight: bold;
        cursor:pointer;
      }


    }//ul

  }//menu

  

#numero{
  
  background:url('../img/numero.png')no-repeat top center;
  width: 300px;
  height: 126px;
  overflow: hidden;
  margin:10px 0;
  p{
    color:$color-blanco;
    text-align: left;
    font-weight: bold;
    font-size: $baseFontSize + 7;
    padding: 13px 0 0 20px;
  }
  
  p#num{
    text-align:right;
    font-size: $baseFontSize + 47;
    text-indent: 0; 
    padding:0 10px 0 0;
  }

}//numero

#content{
  float: left;
  width: 630px;



    /* Slots for final card positions */

    #cardSlots {
      margin: 15px 0;
      background: $color-rojo;
    }

    /* The initial pile of unsorted cards */

    #cardPile {
      background: $color-verdeOscuro;
    }


    
    #cardSlots, #cardPile {
      width: 910px;
      height: 100px;
      padding: 10px;
      border: 2px solid #333;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
      -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
      box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    }

    &.d1{
      #cardSlots, #cardPile {
        width: 147px;
      }
    }//d1

    &.d2{
      #cardSlots, #cardPile {
        width: 217px;
      }
    }//d1


    &.d3{
      #cardSlots, #cardPile {
        width: 290px;
      }
    }//d1

    &.d4{
      #cardSlots, #cardPile {
        width: 427px;
      }
    }//d1




    /* Individual cards and slots */

    #cardSlots div, #cardPile div {
      float: left;
      width: 58px;
      height: 90px;
      line-height: 90px;
      border: 2px solid #333;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: #fff;
      text-align: center;
      margin: 0 5px;
      
    }

    #cardSlots div:first-child, #cardPile div:first-child {
      margin-left: 0;
    }

    #cardSlots div.hovered {
      background: #aaa;
    }

    #cardSlots div {
      border-style: dashed;
    }

    #cardPile div {
      background: $color-rojo;
      color: $color-blanco;
      font-size: 50px;
      text-shadow: 0 0 3px #000;
    }

    #cardPile div.ui-draggable-dragging {
      -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
      -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
      box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    }

    /* Individually coloured cards */

    #card1.correct { background: red; }
    #card2.correct { background: brown; }
    #card3.correct { background: orange; }
    #card4.correct { background: yellow; }
    #card5.correct { background: green; }
    #card6.correct { background: cyan; }
    #card7.correct { background: blue; }
    #card8.correct { background: indigo; }
    #card9.correct { background: purple; }
    #card10.correct { background: violet; }

}//content

}//#descomposicion




/* "You did it!" message */
    #successMessage {
      position: absolute;
      left: 50%;
      top: 150px;
      width: 0px;
      height: 0px;
      z-index: 100;
      background: url(../../../libs/img/success.jpg);
      border: 7px solid $color-blanco;
      @include border-radius(10px, 10px);
      @include single-box-shadow;
      padding: 20px;
      color:$color-blanco;
      text-align: center;
      display: none;

      h2{
        font-size: $baseFontSize + 18;
        line-height: $baseFontSize + 20;
        margin:40px 0 20px 0;
      }

      p{
        font-size: $baseFontSize + 8;
        line-height: $baseFontSize + 12;
        margin-bottom: 10px;
      }

     button{
      @extend .boton;
    }

    }//successMessage

  .lengua{
    #successMessage{
      background:$color-naranjaSuccess;
      button{
        background:$color-verdefosf;
        color:$color-txtBoton;
      }
    }//#successMessage
  }//lengua

  div#instrucciones{
    @extend #successMessage;
    text-align: left;
    position: absolute;
    left:223px;
    top: 324px;
    width: 400px;
    height: auto;
    display:none;
    background:$color-verdefosf;
    color:$color-txtBoton;
    z-index:9999;
  }
  .verificar{
    background: $color-verdefosf;
    color: $color-txtBoton;
    border: 4px solid $color-blanco;
    padding: 10px;
    font-weight: bold;
    @include border-radius(20px, 20px);
    margin-top: 15px;
  }
  
  
  input[type="text"] {
    background: url(../../../libs/img/success.jpg) top center;
    display: inline-block;
    width: 279px;
    border: 7px solid $color-blanco;
    color: $color-blanco;
    text-align: center;
    margin: 3px;
    padding: 5px 3px;
    @include border-radius(7px, 7px);
  }


#cuadros{
  float: right;
  width: auto;
}

#crear{
  position:relative;
  display: inline-block;
  width: 600px;
  margin: 0 auto;
}


  .creaelemento{
    @extend .boton;
    padding: 5px !important;
    margin:3px;
    color:$color-blanco !important;

  }

  
  .suelta{
    padding: 10px;
    border: 1px solid #ddd;
    width: 100px;
    height: 100px;
    float: left;
    @include border-radius(10px, 10px);
    text-align: center;
    margin: 5px;
    display: none;
  }
  
  .ui-droppable{
    color:$color-blanco;
    font-weight: bold;

  }


  .U, #U{
    background: $color-U !important;
  }

  .D, #D{
    background: $color-D !important;
  }

  .C, #C{
    background: $color-C !important;
  }

  .UM, #UM{
    background: $color-U !important;
  }

  .DM, #DM{
    background: $color-D !important;
  }

  .CM, #CM{
    background: $color-C !important;
  }
  
  #crear{
    .arrastrable{
      width: 25px;
      height: 25px;
      position: relative !important;
      //@include border-radius(50%, 50%);
      z-index: 999;
      float:left;
      margin: 2px;
    }
    
    .U{
      background: url('../img/unidades.png') top left no-repeat !important;
    }

    .D{
      background: url('../img/decenas.png') top left no-repeat !important;
    }

    .C{
      background: url('../img/centenas.png') top left no-repeat !important;
    }

    .UM{
      @extend .U;
    }

    .DM{
      @extend .DM; 
    }

    .CM{
      @extend .CM;
    }
    

  }//crear

  #soltarCubos{
    .ui-droppable{
      text-indent: -999999px;
    }
  }//#soltarCubos


  #sueltaU{
    border:3px solid $color-U;
  }

  #sueltaD{
    border:3px solid $color-D;
  }


  #sueltaC{
    border:3px solid $color-C;
  }

  #sueltaUM{
    border:3px solid $color-U;
  }

  #sueltaDM{
    border:3px solid $color-D;
  }

  #sueltaCM{
    border:3px solid $color-C;
  }



  .boton{
    background: $color-verdefosf;
     color: $color-txtBoton;
      border: 4px solid $color-blanco;
      padding: 10px;
      font-weight: bold;
      @include border-radius(20px, 20px);
      margin-top: 15px;
  }

  #items{
    width: 50px;
    height: 50px;
    position:absolute;
    top:0;
    left:0;
  }

  #pista{
    position:absolute;
    top:10px;
    right: 10px;
    background:$color-blanco;
    color:$color-negro;
    padding:10px;
    border: 4px solid $color-negro;
    @include border-radius(20px, 20px);
  }


  #operacion{
    left: 401px;
    top: 53px;
    width: 83px;
    z-index: 999;
    position: absolute;
    border-bottom: 2px solid #000;
    p{
      font-size: $baseFontSize + 13;
      line-height: $baseFontSize + 16;
      text-align: right;      
    }  
  }//#operaciones

  #balanza{
    position:absolute;
    left:268px;
    top:20px;
    width: 336px;
    height: 334px;
    background:url('../img/balanz.png') no-repeat;
  }

  #pesos{
    width: 321px;
    height: 97px;
    position: absolute;
    right: 5px;
    bottom: 225px;
  }
  



  .peso{
    background:url('../img/pesa.png') no-repeat;
    margin: 5px;
    width: 70px;
    height: 97px;
    line-height: 133px;
    color:$color-blanco;
    text-align: center;
    float: left;
  }
  .contCorrecto{
    width: 249px;
    height: 97px;
    position:absolute;
    top:185px;
    text-align: center;
    margin: 10px;
  }
  
  // #contCorrecto{
  //   background-color: #f99;

  // }
  
  

#crono{
  background: url('../../../libs/img/reloj.png') no-repeat;
  width: 105px;
  height: 149px;
  position:relative;
  position: absolute;
  top: 10px;
  right: 50px;
  display: none;


  .badge {
    @include border-radius( 5px , 5px);
    display: inline-block;
    padding: 10px;
    font-size: $baseFontSize - 2;
    font-weight: bold;
    line-height: $baseFontSize + 3;
    color: $color-blanco;
    vertical-align: baseline;
    white-space: nowrap;
    background: #999999;
    text-align: center;
    color:$color-blanco;
    width: 44px;
    height: 17px;
    margin: 78px 0 0 21px;
    border: 1px solid #808080;

      &.activo{
        background:$color-verdeBack;

      }
      &.detenido{
        background:$color-rojo;    
      }

    }//badge
}//reloj    

  .resp{
      @extend .animation;
      width: 30px;
      height: 30px;
      //top: 183px;
      //left: 109px;
      text-align:center;
      color:$color-blanco;
      line-height: 30px;
      font-weight: bold;
      font-size: $baseFontSize + 7;
  }


/* Plano Cartesiano*/
#descomposicion.cartesiano1{

    #menu{
      border:5px solid $color-azulBorde;
      padding:0;
      margin:10px 0 0 20px;
      @include border-radius( 5px , 5px);
      width: 250px;
      p{
        background: $color-rojo;
        padding:10px;
        text-transform: uppercase;
        color:$color-blanco;
        font-size: $baseFontSize + 6;
        line-height: $baseFontSize + 8;
      } 

      ul{
        background:none;
        border:none;

        li{
          color:$color-azulBorde;
          padding:0;
          //margin:2px 0;
          font-size: $baseFontSize + 10;
          vertical-align: top;
          i{
            @extend .animation;
            &.fa-check-circle{
              color:$color-verdeBack;
            }
            &.fa-exclamation-triangle{
              color:$color-rojo;
            }
          }//i

        }
      }//ul

    }//menu

    #crono{
      display: block;
    }


    .p1-1{
      @extend .puntos;
      top: 301px;
      left: 36px;
    }

    .p1-2{
      @extend .p1-1;
      top: 262px;
    }

    .p1-3{
      @extend .p1-1;
      top: 228px;
    }

    .p1-4{
      @extend .p1-1;
      top: 190px;
    }

    .p1-5{
      @extend .p1-1;
      top: 156px;
    }

    .p1-6{
      @extend .p1-1;
      top: 120px;
    }

    .p1-7{
      @extend .p1-1;
      top: 85px;
    }


    .p1-8{
      @extend .p1-1;
      top: 46px;
    }


    .p1-9{
      @extend .p1-1;
      top: 11px;
    }



    /* columna 2*/
    .p2-1{
      @extend .puntos;
      top: 301px;
      left: 78px;
    }

    .p2-2{
      @extend .p2-1;
      top: 262px;
    }

    .p2-3{
      @extend .p2-1;
      top: 228px;
    }

    .p2-4{
      @extend .p2-1;
      top: 190px;
    }

    .p2-5{
      @extend .p2-1;
      top: 156px;
    }

    .p2-6{
      @extend .p2-1;
      top: 120px;
    }

    .p2-7{
      @extend .p2-1;
      top: 85px;
    }


    .p2-8{
      @extend .p2-1;
      top: 46px;
    }


    .p2-9{
      @extend .p2-1;
      top: 11px;
    }

    /* columna 2*/




    /* columna 3*/
    .p3-1{
      @extend .puntos;
      top: 301px;
      left: 117px;
    }

    .p3-2{
      @extend .p3-1;
      top: 262px;
    }

    .p3-3{
      @extend .p3-1;
      top: 228px;
    }

    .p3-4{
      @extend .p3-1;
      top: 190px;
    }

    .p3-5{
      @extend .p3-1;
      top: 156px;
    }

    .p3-6{
      @extend .p3-1;
      top: 120px;
    }

    .p3-7{
      @extend .p3-1;
      top: 85px;
    }


    .p3-8{
      @extend .p3-1;
      top: 46px;
    }


    .p3-9{
      @extend .p3-1;
      top: 11px;
    }

    /* columna 3*/





    /* columna 4*/
    .p4-1{
      @extend .puntos;
      top: 301px;
      left: 154px;
    }

    .p4-2{
      @extend .p4-1;
      top: 262px;
    }

    .p4-3{
      @extend .p4-1;
      top: 228px;
    }

    .p4-4{
      @extend .p4-1;
      top: 190px;
    }

    .p4-5{
      @extend .p4-1;
      top: 156px;
    }

    .p4-6{
      @extend .p4-1;
      top: 120px;
    }

    .p4-7{
      @extend .p4-1;
      top: 85px;
    }


    .p4-8{
      @extend .p4-1;
      top: 46px;
    }


    .p4-9{
      @extend .p4-1;
      top: 11px;
    }

    /* columna 4*/


    /* columna 5*/
    .p5-1{
      @extend .puntos;
      top: 301px;
      left: 198px;
    }

    .p5-2{
      @extend .p5-1;
      top: 262px;
    }

    .p5-3{
      @extend .p5-1;
      top: 228px;
    }

    .p5-4{
      @extend .p5-1;
      top: 190px;
    }

    .p5-5{
      @extend .p5-1;
      top: 156px;
    }

    .p5-6{
      @extend .p5-1;
      top: 120px;
    }

    .p5-7{
      @extend .p5-1;
      top: 85px;
    }


    .p5-8{
      @extend .p5-1;
      top: 46px;
    }


    .p5-9{
      @extend .p5-1;
      top: 11px;
    }

    /* columna 5*/




    /* columna 6*/
    .p6-1{
      @extend .puntos;
      top: 301px;
      left: 236px;
    }

    .p6-2{
      @extend .p6-1;
      top: 262px;
    }

    .p6-3{
      @extend .p6-1;
      top: 228px;
    }

    .p6-4{
      @extend .p6-1;
      top: 190px;
    }

    .p6-5{
      @extend .p6-1;
      top: 156px;
    }

    .p6-6{
      @extend .p6-1;
      top: 120px;
    }

    .p6-7{
      @extend .p6-1;
      top: 85px;
    }


    .p6-8{
      @extend .p6-1;
      top: 46px;
    }


    .p6-9{
      @extend .p6-1;
      top: 11px;
    }

    /* columna 6*/


    /* columna 7*/
    .p7-1{
      @extend .puntos;
      top: 301px;
      left: 273px;
    }

    .p7-2{
      @extend .p7-1;
      top: 262px;
    }

    .p7-3{
      @extend .p7-1;
      top: 228px;
    }

    .p7-4{
      @extend .p7-1;
      top: 190px;
    }

    .p7-5{
      @extend .p7-1;
      top: 156px;
    }

    .p7-6{
      @extend .p7-1;
      top: 120px;
    }

    .p7-7{
      @extend .p7-1;
      top: 85px;
    }


    .p7-8{
      @extend .p7-1;
      top: 46px;
    }


    .p7-9{
      @extend .p7-1;
      top: 11px;
    }

    /* columna 7*/




    /* columna 8*/
    .p8-1{
      @extend .puntos;
      top: 301px;
      left: 316px;
    }

    .p8-2{
      @extend .p8-1;
      top: 262px;
    }

    .p8-3{
      @extend .p8-1;
      top: 228px;
    }

    .p8-4{
      @extend .p8-1;
      top: 190px;
    }

    .p8-5{
      @extend .p8-1;
      top: 156px;
    }

    .p8-6{
      @extend .p8-1;
      top: 120px;
    }

    .p8-7{
      @extend .p8-1;
      top: 85px;
    }


    .p8-8{
      @extend .p8-1;
      top: 46px;
    }


    .p8-9{
      @extend .p8-1;
      top: 11px;
    }

    /* columna 8*/




    /* columna 9*/
    .p9-1{
      @extend .puntos;
      top: 301px;
      left: 363px;
    }

    .p9-2{
      @extend .p9-1;
      top: 262px;
    }

    .p9-3{
      @extend .p9-1;
      top: 228px;
    }

    .p9-4{
      @extend .p9-1;
      top: 190px;
    }

    .p9-5{
      @extend .p9-1;
      top: 156px;
    }

    .p9-6{
      @extend .p9-1;
      top: 120px;
    }

    .p9-7{
      @extend .p9-1;
      top: 85px;
    }


    .p9-8{
      @extend .p9-1;
      top: 46px;
    }


    .p9-9{
      @extend .p9-1;
      top: 11px;
    }

    .plano{
      background: url('../img/plano.jpg') no-repeat top left;
      position:relative;
      width:396px;
      height: 347px;
      top:20px;
      left:20px;
      float: left;
    }

    .puntos{
      width: 13px;
      height: 13px;
      @include border-radius( 50% , 50%);
      background:$color-azulBoton;
      position: absolute;
      border: 1px solid #333;
      cursor: pointer;
      @extend .animation;
    }

    ul#y{
      float: left;
      margin: 22px 0 0 27px;
      display: inline-block;
      li{
        width: 35px;
        height: 35px;
        margin: 0 0 2px 0;
      }
    }//ul

    ul#x{
      display: inline-block;
      float: none;
      margin:20px 0 0 107px;
      li{
        width: 35px;
        height: 35px;
        float: left;
        margin: 0 5px 0 0;
      }
    }//ul

    /* columna 9*/
    .plano div{
      &.ordenadoOk{
        @extend .animation;
        @extend .resp;
        background:$color-verdeBack;
      }

      &.wrong{
        @extend .resp;
        background:$color-rojo;
      }

    }//plano  
    
    span.ordenadoOk{
      background:$color-verdeBack;
      @include border-radius( 50% , 50%);
      @extend .resp;
      display: inline-block;
      vertical-align: top;
      margin: 5px 10px;
      border: 1px solid #333;
    }
}
/* Plano Cartesiano*/






#descomposicion.cartesiano2{
  @extend .cartesiano1;
  
  ul#x{
    background:none;
    margin: 24px 0 0 108px;

    li{
      width: 20px;
      height: 20px;
      margin: 0 21px 0 0;
      line-height: 20px;
      background: $color-rojo;
      font-size: $baseFontSize;
      color:$color-blanco;
      text-align:center;
      @include border-radius( 50% , 50%);
      

    }
  }//
  
  ul#y{
   background:none;
    margin: 31px 0 0 35px;
    li{
      width: 20px;
      height: 20px;
      margin: 0 0 16px 0;
      line-height: 20px;
      background: $color-rojo;
      font-size: $baseFontSize;
      color:$color-blanco;
      text-align:center;
      @include border-radius( 50% , 50%);
    }//
  }

  .plano div{
    @extend .resp;
    background:$color-azulBoton;
  }

  input{
    width: 50px;
    margin: 3px;
    padding: 0px 3px;
    border: 3px solid $color-blanco;
    font-weight: normal;
    font-size: $baseFontSize + 8;
  }

  #verificar{
    position:absolute;
    
  }
  
}
/* Plano Cartesiano2*/


/* plano arrastrar*/
  div.cartesianoArrastra{
    .suelta{
      display:block;
    }

    img.arrastrable.ui-draggable {
      z-index: 999;
    }


    .ui-state-disabled{
      @include border-radius(50%,50%);
      width: 32px;
      height: 32px;
      border: 1px solid #333;
    }

  }


/* plano arrastrar*/