@import "vars.scss";
@import "normalize.scss";
@import "normal.scss";
@import "hover.scss";
@import "compass/css3/";
//@import "../../../libs/css/jquery-ui.css";




body{
    font-size: $baseFontSize;
    font-family: $bodyFontFamily;
    color:$color-negro;
    background:$color-blanco;
    line-height: $baseLineHeight;
}

.clear{
  clear:both;
}


.wrapper{
  width: $wrapper;
  margin: 0 auto;
  height: 600px;
  position:relative;
}

#home{
  background: url(../img/home.jpg) no-repeat;
  
  #logos{
    float: left;
    margin:90px 0 0 90px;
    img{
      float: left;
    }

  }//img

  #iniciar{
    @include border-radius(20px, 20px);
    background: $color-azulBoton;
    color:$color-blanco;
    font-size: $baseFontSize + 23;
    font-weight: bold;
    padding:10px;
    border: 4px solid $color-blanco;
    display:inline-block;
    position:absolute;
    top: 122px;
    right: 64px;
    a{
      text-decoration: none;
      color:#fff;
    }
  }//iniciar

  #titulo{
    position:absolute;
    top: 217px;
    left: 30px;
  }

  #avatarhome{
    position:absolute;
    bottom: 75px;
    right: 28px;
  }

  #intrucciones{
    position:absolute;
    bottom:58px;
    left: 136px;
    color: $color-blanco;
    width: 480px;
    p{
      font-size: $baseFontSize + 23;
      line-height: $baseFontSize + 44;
    }
    ol{
      list-style-type: decimal;
      list-style-position: inside;
      li{
        padding-bottom:3px;
      }
    }//ol
  }//

}//home

  .button{
    @include border-radius(20px, 20px);
    background: $color-azulBoton;
    color:$color-blanco;
    font-weight: bold;
    padding:10px;
    border: 4px solid $color-blanco;
  }//iniciar

  .verde{
    background: $color-verdeBack;
  }


#descomposicion{
  background: url(../img/fondo2.jpg) no-repeat;
  #titulo{
    position:absolute;
    bottom:20px;
    left:6px;
  }
  #avatar{
    position: absolute;
    bottom:0px;
    right: 10px;
  }

  #nav{
    position: absolute;
    bottom:10px;
    left: 230px;
    button{
      padding: 10px;
      margin-right: 20px;
      color:$color-blanco;
      border:2px solid $color-blanco;
      background:transparent;
      text-transform: uppercase;
    }
  }//nav
  
  #logos{
    position:absolute;
    bottom:67px;
    right: 164px;
    img.edinum{
      margin-right: 60px;
    }
  }//logos

  #menu{
    width: 200px;
    padding: 60px 60px 0 50px;
    float: left;
    p{
      font-size: $baseFontSize + 27;
      line-height: $baseFontSize + 37;
      text-align: center;
      text-transform: uppercase;
      color:$color-azulBoton;
    }

    ul{
      background: $color-azulBoton;
      @include border-radius(10px, 10px);
      border: 5px solid $color-blanco;
      padding:10px;
      li{
        color:$color-blanco;
        font-size: $baseFontSize + 2;
        padding:5px 0;
        width: 100%;
        font-weight: bold;
        cursor:pointer;
      }


    }//ul

  }//menu

  

#numero{
  
  background:url('../img/numero.png')no-repeat top center;
  width: 300px;
  height: 126px;
  overflow: hidden;
  margin:10px 0;
  p{
    color:$color-blanco;
    text-align: left;
    font-weight: bold;
    font-size: $baseFontSize + 7;
    padding: 13px 0 0 20px;
  }
  
  p#num{
    text-align:right;
    font-size: $baseFontSize + 47;
    text-indent: 0; 
    padding:0 10px 0 0;
  }

}//numero

#content{
  float: left;
  width: 630px;



    /* Slots for final card positions */

    #cardSlots {
      margin: 15px 0;
      background: $color-rojo;
    }

    /* The initial pile of unsorted cards */

    #cardPile {
      background: $color-verdeOscuro;
    }


    
    #cardSlots, #cardPile {
      width: 910px;
      height: 100px;
      padding: 10px;
      border: 2px solid #333;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
      -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
      box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    }

    &.d1{
      #cardSlots, #cardPile {
        width: 147px;
      }
    }//d1

    &.d2{
      #cardSlots, #cardPile {
        width: 217px;
      }
    }//d1


    &.d3{
      #cardSlots, #cardPile {
        width: 290px;
      }
    }//d1

    &.d4{
      #cardSlots, #cardPile {
        width: 427px;
      }
    }//d1




    /* Individual cards and slots */

    #cardSlots div, #cardPile div {
      float: left;
      width: 58px;
      height: 90px;
      line-height: 90px;
      border: 2px solid #333;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: #fff;
      text-align: center;
      margin: 0 5px;
      
    }

    #cardSlots div:first-child, #cardPile div:first-child {
      margin-left: 0;
    }

    #cardSlots div.hovered {
      background: #aaa;
    }

    #cardSlots div {
      border-style: dashed;
    }

    #cardPile div {
      background: $color-rojo;
      color: $color-blanco;
      font-size: 50px;
      text-shadow: 0 0 3px #000;
    }

    #cardPile div.ui-draggable-dragging {
      -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
      -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
      box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    }

    /* Individually coloured cards */

    #card1.correct { background: red; }
    #card2.correct { background: brown; }
    #card3.correct { background: orange; }
    #card4.correct { background: yellow; }
    #card5.correct { background: green; }
    #card6.correct { background: cyan; }
    #card7.correct { background: blue; }
    #card8.correct { background: indigo; }
    #card9.correct { background: purple; }
    #card10.correct { background: violet; }

}//content

}//#descomposicion




/* "You did it!" message */
    #successMessage {
      position: absolute;
      left: 50%;
      top: 150px;
      width: 0px;
      height: 0px;
      z-index: 100;
      background: url(../../../libs/img/success.jpg);
      border: 7px solid $color-blanco;
      @include border-radius(10px, 10px);
      @include single-box-shadow;
      padding: 20px;
      color:$color-blanco;
      text-align: center;
      display: none;

      h2{
        font-size: $baseFontSize + 18;
        line-height: $baseFontSize + 20;
        margin:40px 0 20px 0;
      }

      p{
        font-size: $baseFontSize + 8;
        line-height: $baseFontSize + 12;
        margin-bottom: 10px;
      }

     button{
      @extend .boton;
    }

    }//successMessage

  .lengua{
    #successMessage{
      background:$color-naranjaSuccess;
      button{
        background:$color-verdefosf;
        color:$color-txtBoton;
      }
    }//#successMessage
  }//lengua

  div#instrucciones{
    @extend #successMessage;
    text-align: left;
    position: absolute;
    left:223px;
    top: 324px;
    width: 400px;
    height: auto;
    display:none;
    background:$color-verdefosf;
    color:$color-txtBoton;
  }
  .verificar{
    background: $color-verdefosf;
      color: $color-txtBoton;
      border: 4px solid $color-blanco;
      padding: 10px;
      font-weight: bold;
      @include border-radius(20px, 20px);
      margin-top: 15px;
  }
  
  
  input[type="text"] {
    background: url(../../../libs/img/success.jpg) top center;
    display: inline-block;
    width: 279px;
    border: 7px solid $color-blanco;
    color: $color-blanco;
    text-align: center;
    margin: 3px;
    padding: 5px 3px;
    @include border-radius(7px, 7px);
  }


#cuadros{
  float: right;
  width: auto;
}

#crear{
  position:relative;
  display: inline-block;
  width: 600px;
  margin: 0 auto;
}


  .creaelemento{
    @extend .boton;
    padding: 5px !important;
    margin:3px;
    color:$color-blanco !important;

  }

  
  .suelta{
    padding: 10px;
    border: 1px solid #ddd;
    width: 100px;
    height: 100px;
    float: left;
    @include border-radius(10px, 10px);
    text-align: center;
    margin: 5px;
    display: none;
  }
  
  .ui-droppable{
    color:$color-blanco;
    font-weight: bold;

  }


  .U, #U{
    background: $color-U !important;
  }

  .D, #D{
    background: $color-D !important;
  }

  .C, #C{
    background: $color-C !important;
  }

  .UM, #UM{
    background: $color-U !important;
  }

  .DM, #DM{
    background: $color-D !important;
  }

  .CM, #CM{
    background: $color-C !important;
  }
  
  #crear{
    .arrastrable{
      width: 25px;
      height: 25px;
      position: relative !important;
      //@include border-radius(50%, 50%);
      z-index: 999;
      float:left;
      margin: 2px;
    }
    
    .U{
      background: url('../img/unidades.png') top left no-repeat !important;
    }

    .D{
      background: url('../img/decenas.png') top left no-repeat !important;
    }

    .C{
      background: url('../img/centenas.png') top left no-repeat !important;
    }

    .UM{
      @extend .U;
    }

    .DM{
      @extend .DM; 
    }

    .CM{
      @extend .CM;
    }
    

  }//crear

  #soltarCubos{
    .ui-droppable{
      text-indent: -999999px;
    }
  }//#soltarCubos


  #sueltaU{
    border:3px solid $color-U;
  }

  #sueltaD{
    border:3px solid $color-D;
  }


  #sueltaC{
    border:3px solid $color-C;
  }

  #sueltaUM{
    border:3px solid $color-U;
  }

  #sueltaDM{
    border:3px solid $color-D;
  }

  #sueltaCM{
    border:3px solid $color-C;
  }



  .boton{
    background: $color-verdefosf;
     color: $color-txtBoton;
      border: 4px solid $color-blanco;
      padding: 10px;
      font-weight: bold;
      @include border-radius(20px, 20px);
      margin-top: 15px;
  }

  #items{
    width: 50px;
    height: 50px;
    position:absolute;
    top:0;
    left:0;
  }

  #pista{
    position:absolute;
    top:10px;
    right: 10px;
    background:$color-blanco;
    color:$color-negro;
    padding:10px;
    border: 4px solid $color-negro;
    @include border-radius(20px, 20px);
  }


  #operacion{
    position:absolute;
    right:50px;
    top:50px;
  }

  #balanza{
    position:absolute;
    left:350px;
    top:150px;
    border:1px solid #ccc;
    width: 200px;
    height: 200px;
  }

  #pesos{
    width: 500px;
    height: 200px;
    position:absolute;
    right: 50px;
    bottom:150px;
    border:1px solid #ccc;
  }

  




  
  
  .peso{
    background-color: #c33;
    margin: 5px;
    width: 50px;
    padding:5px;
    color:$color-blanco;
    text-align: center;
  }
  .contCorrecto{
    padding: 10px;
    border: 1px solid #ddd;
    width: 200px;
    float: right;
    text-align: center;
    margin: 10px;
  }
  
  #contCorrecto{
    background-color: #f99;

  }
  