

$baseFontSize: 14px;
$baseLineHeight: 1.428571429;
$bodyBackground: #fff;
$bodyFontFamily: Arial;
$wrapper:940px;



$color-rojo:#FF0013;
$color-blanco:#fff;
$color-negro:#000;
$color-naranjaBack2:#F58426;
$color-azulBack:#00A0AF;
$color-azulBoton:#27AAE1;
$color-verdeBack:#8DC63F;
$color-verdeBack2:#859C01;
$color-verdeOscuro:#859C04;
$color-rojo:#E1431F;
$color-naranjaSuccess:#E66325;
$color-verdefosf:#C6EF00;
$color-txtBoton:#58595B;
$color-rosa:#EE2A7B;
$color-U:#99f;
$color-D:#f99;
$color-C:#FF7400;
$color-M:#BF7130;
$color-UM:#A64B00;
$color-DM:#FF9640;
$color-CM:#FFB273;




.ieBack{
  background:rgb(255,0,0);
    background: transparent\9;
    background:rgba(255,0,0,0.3);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cFF0000,endColorstr=#4cFF0000);
    zoom: 1;
}



.blackShadow{
  text-shadow: 1px 1px 1px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}

.clear{
  clear:both;
}

.trapezio {
  border-bottom: 100px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 100px;
}



@mixin shadow($horz, $vert, $blur,  $color) {
  text-shadow: $horz $vert $blur $color;
  filter: dropshadow(color=$color, offx=$horz, offy=$vert);
}

// Mixin itself
@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


.spinner {
  margin: 100px auto;
  width: 42px;
  height: 42px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #0294CF;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}


.browsehappy{
  background:$color-rojo;
  padding:20px;
  color:$color-blanco;

}
