@import "vars.scss";
@import "normalize.scss";
@import "normal.scss";
@import "hover.scss";
@import "compass/css3/";
@import "../../../libs/css/jquery-ui.css";
@import "../../../libs/css/font-awesome.min.css";



body {
  font-size: 14px;
  font-family: Arial;
  color: #000;
  background: #fff;
  line-height: 1.42857;
}

.clear {
  clear: both;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
  height: 600px;
  position: relative;
}

#home {
  background: url(../img/home.jpg) no-repeat;
  #logos {
    float: left;
    margin: 90px 0 0 90px;
    img {
      float: left;
    }
  }
  #iniciar {
    -webkit-border-radius: 20px 20px;
    -moz-border-radius: 20px / 20px;
    border-radius: 20px / 20px;
    background: #27aae1;
    color: #fff;
    font-size: 37px;
    font-weight: bold;
    padding: 10px;
    border: 4px solid #fff;
    display: inline-block;
    position: absolute;
    top: 122px;
    right: 64px;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
  #titulo {
    position: absolute;
    top: 217px;
    left: 30px;
  }
  #avatarhome {
    position: absolute;
    bottom: 75px;
    right: 28px;
  }
  #intrucciones {
    position: absolute;
    bottom: 92px;
    left: 136px;
    color: #fff;
    width: 480px;
    p {
      font-size: 37px;
      line-height: 58px;
    }
    ol {
      list-style-type: decimal;
      list-style-position: inside;
      li {
        padding-bottom: 3px;
      }
    }
  }
}

#menu {
  width: 200px;
  padding: 60px 60px 0 50px;
  float: left;
  p {
    font-size: 41px;
    line-height: 51px;
    text-align: center;
    text-transform: uppercase;
    color: #27aae1;
  }
  ul {
    background: #27aae1;
    -webkit-border-radius: 10px 10px;
    -moz-border-radius: 10px / 10px;
    border-radius: 10px / 10px;
    border: 5px solid #fff;
    padding: 10px 32px;
    li {
      color: #fff;
      font-size: 16px;
      padding: 5px 0;
      width: 100%;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.button {
  -webkit-border-radius: 20px 20px;
  -moz-border-radius: 20px / 20px;
  border-radius: 20px / 20px;
  background: #27aae1;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border: 4px solid #fff;
}

.verde {
  background: #8dc63f;
}

#descomposicion {
  background: url(../img/fondo2.jpg) no-repeat;
  #titulo {
    position: absolute;
    bottom: 20px;
    left: 6px;
  }
  #avatar {
    position: absolute;
    bottom: 0px;
    right: 10px;
  }
  #nav {
    position: absolute;
    bottom: 10px;
    left: 230px;
    button {
      padding: 10px;
      margin-right: 20px;
      color: #fff;
      border: 2px solid #fff;
      background: transparent;
      text-transform: uppercase;
    }
  }
  #logos {
    position: absolute;
    bottom: 67px;
    right: 164px;
    img.edinum {
      margin-right: 60px;
    }
  }
  form#respuestas {
    width: 101px;
    margin: 10px auto;
    input[type="text"], div.buscaPalabras #var [type="text"]#comando {
      background: url(../../../libs/img/success.jpg) top center;
      float: left;
      display: inline-block;
      width: 93px;
      border: 1px solid #7E7C7C;
      color: #fff;
      text-align: center;
      margin: 3px;
      -webkit-border-radius: 5px 5px;
      -moz-border-radius: 5px / 5px;
      border-radius: 5px / 5px;
      padding: 5px 3px;
    }
  }
}

div.buscaPalabras #var #descomposicion form#respuestas [type="text"]#comando {
  background: url(../../../libs/img/success.jpg) top center;
  float: left;
  display: inline-block;
  width: 93px;
  border: 1px solid #7E7C7C;
  color: #fff;
  text-align: center;
  margin: 3px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  padding: 5px 3px;
}

#sortable {
  list-style-type: none;
  margin: 0 auto;
  padding: 70px 0;
  width: 857px;
  li {
    margin: 3px 3px 3px 0;
    padding: 1px;
    float: left;
    width: 100px;
    height: 100px;
    font-size: 4em;
    text-align: center;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px / 5px;
    border-radius: 5px / 5px;
    cursor: pointer;
    &.ui-sortable-helper {
      cursor: move;
    }
  }
}

.stopwatch {
  display: inline-block;
  background-color: white;
  border: 1px solid #eee;
  padding: 5px;
  margin: 5px;
  span {
    font-weight: bold;
    display: block;
  }
  a {
    padding-right: 5px;
    text-decoration: none;
  }
}

.boton, #successMessage button, div#instrucciones button {
  background: #d1df56;
  color: #58595b;
  border: 4px solid #fff;
  padding: 10px;
  font-weight: bold;
  -webkit-border-radius: 20px 20px;
  -moz-border-radius: 20px / 20px;
  border-radius: 20px / 20px;
  margin-top: 15px;
}

#successMessage, div#instrucciones {
  position: absolute;
  left: 50%;
  top: 150px;
  width: 0px;
  height: 0px;
  z-index: 100;
  background: url(../../../libs/img/success.jpg) top center;
  border: 7px solid #fff;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
  -webkit-box-shadow: 0px 0px 5px #333;
  -moz-box-shadow: 0px 0px 5px #333;
  box-shadow: 0px 0px 5px #333;
  padding: 20px;
  color: #fff;
  text-align: center;
}

#successMessage h2, div#instrucciones h2 {
  font-size: 32px;
  line-height: 34px;
  margin: 40px 0 20px 0;
}

#successMessage p, div#instrucciones p {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 10px;
}

.lengua {
  #successMessage, div#instrucciones {
    background: #e66325;
  }
  #successMessage button, div#instrucciones button {
    background: #d1df56;
    color: #58595b;
  }
}

div#instrucciones {
  text-align: left;
  position: absolute;
  left: 223px;
  top: 400px;
  width: auto;
  height: auto;
  display: none;
}

#crono {
  background: url("../../../libs/img/reloj.png") no-repeat;
  width: 105px;
  height: 149px;
  position: absolute;
  top: 228px;
  right: 50px;
  .badge {
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px / 5px;
    border-radius: 5px / 5px;
    display: inline-block;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 17px;
    color: #fff;
    vertical-align: baseline;
    white-space: nowrap;
    background: #999999;
    text-align: center;
    color: #fff;
    width: 44px;
    height: 17px;
    margin: 78px 0 0 21px;
    border: 1px solid #808080;
    &.activo {
      background: #8dc63f;
    }
    &.detenido {
      background: #e1431f;
    }
  }
}

#pista {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  color: #000;
  padding: 10px;
  border: 4px solid #000;
  -webkit-border-radius: 20px 20px;
  -moz-border-radius: 20px / 20px;
  border-radius: 20px / 20px;
}

#btnPista {
  position: absolute;
  bottom: 130px;
  left: 20px;
}

div {
  &.memoria {
    #menu {
      width: 100px;
      padding: 60px 25px 0 15px;
      p {
        font-size: 35px;
      }
      ul {
        width: 95%;
        padding: 10px 5px;
        li {
          padding: 5px;
        }
      }
    }
    #content {
      width: 800px;
      float: left;
      #var {
        .caligrafia {
          margin: 50px 0 0 0;
        }
        div.cartas {
          width: 93px;
          height: 150px;
          float: left;
          margin: 2px;
          -webkit-border-radius: 20px 20px;
          -moz-border-radius: 20px / 20px;
          border-radius: 20px / 20px;
          cursor: pointer;
          position: relative;
          img {
            &.reverso {
              position: absolute;
              top: 0;
              left: 0;
            }
            &.front {
              position: absolute;
              top: 0;
              left: 0;
              display: none;
            }
          }
        }
      }
    }

    &#home #intrucciones {
      position: absolute;
      bottom: 95px;
    }
    div#instrucciones {
      top: 241px;
      width: 362px;
    }

  }
  &.preguntas {
    #menu {
      width: 150px;
      padding: 60px 20px;
    }
    #content {
      width: 760px;
      margin: 0 0 0 31px;
      div#crono {
        right: 10px;
        top: 20px;
      }
    }
    #contPreguntas {
      padding-top: 30px;
      > div {
        width: 100%;
        height: 50px;
        padding: 10px;
        display: none;
        &:nth-child(odd) {
          background: rgba(0, 158, 25, 0.33);
        }
        div {
          &.izq {
            width: 40%;
            float: left;
          }
          &.der {
            width: 60%;
            float: left;
          }
        }
        p {
          float: left;
          margin-right: 30px;
          cursor: pointer;
          padding: 5px;
          &.ok {
            background: #ff0;
          }
        }
        i {
          width: 10%;
          float: right;
          font-size: 28px;
          &.fa-check-circle, &.fa-exclamation-triangle {
            color: #e1431f;
          }
        }
      }
    }
  }
}

#audio {
  display: none;
}

div {
  &.camino {
    #successMessage {
      display: none;
    }
    div {
      &#instrucciones {
        display: none;
      }
      &#caminoCont {
        margin: 0 6px;
      }
    }
    .step {
      float: left;
      margin: 5px 4px;
      width: 100px;
      height: 100px;
    }
    .right {
      float: right;
    }
    #iniciar {
      cursor: pointer;
      position: absolute;
      bottom: 150px;
      left: 181px;
    }
    #dado {
      position: absolute;
      bottom: 122px;
      left: 343px;
    }
    .actual {
      border: 4px solid #8dc63f;
    }
    &.caminoPreg {
      #iniciar {
        left: 127px;
      }
      #dado {
        left: 260px;
      }
      #pregunta, #respuesta {
        width: 250px;
        height: 110px;
        border: 4px solid #fff;
        background: #b8519a;
        position: absolute;
        bottom: 124px;
        left: 390px;
        -webkit-border-radius: 20px 20px;
        -moz-border-radius: 20px / 20px;
        border-radius: 20px / 20px;
      }
      #pregunta p.identifier {
        text-align: center;
      }
      #respuesta {
        p.identifier {
          text-align: center;
        }
        background: #3c66ac;
        left: 657px;
      }
    }
    div#instrucciones {
      width: 360px;
      top: 327px;
    }
  }
  &.ortogramatron {
    #var {
      padding-top: 10px;
    }
    #inst, #inst2 p, #palabras li {
      background: #27aae1;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      text-align: center;
      border: 5px solid #fff;
      float: left;
      display: inline-block;
      margin: 0 10px 0 23px;
      padding: 9px;
      color: #fff;
      font-weight: bold;
      font-size: 21px;
    }
    #inst2 {
      width: 250px;
      margin: 6px auto;
      p {
        float: none;
        margin: 0;
      }
    }
    input, div.buscaPalabras #var #comando {
      float: left;
      border: 5px solid #27aae1;
      padding: 9px;
      font-weight: bold;
      font-size: 21px;
      width: 550px;
    }
  }
  &.buscaPalabras #var div.ortogramatron #comando {
    float: left;
    border: 5px solid #27aae1;
    padding: 9px;
    font-weight: bold;
    font-size: 21px;
    width: 550px;
  }
  &.ortogramatron {
    i {
      color: #e1431f;
      padding-left: 10px;
      cursor: pointer;
      &:hover {
        color: #8dc63f;
      }
    }
    #continuar {
      display: none;
      position: absolute;
      bottom: 150px;
      right: 120px;
    }
    #successMessage h2, div#instrucciones h2 {
      margin: 14px 0 20px 0;
    }
    #palabras {
      margin: 10px auto;
      height: 100%;
      zoom: 1;
      li {
        float: left;
        margin: 5px;
        cursor: pointer;
        &.dropped {
          background: #8dc63f;
        }
      }
    }
    #canastas {
      margin: 40px 20px;
      li {
        float: left;
        margin: 5px 10px;
      }
    }
  }
  &.buscaPalabras {
    &#descomposicion #logos {
      bottom: 0;
    }
    #menuCont {
      padding-top: 20px;
      width: 250px;
      float: left;
      p.inst {
        background: #27aae1;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
        text-align: center;
        border: 5px solid #fff;
        display: inline-block;
        margin: 0 10px 0 23px;
        padding: 9px;
        color: #fff;
        font-weight: bold;
        font-size: 21px;
      }
      ul {
        margin-left: 20px;
        margin: 10px 10px 35px 45px;
        list-style-type: disc;
        list-style-position: outside;
        li {
          padding: 5px 0;
        }
      }
    }
    #var {
      float: left;
      margin-left: 10px;
      width: 658px;
      #letras {
        font-size: 36px;
        line-height: 39px;
        text-align: center;
      }
      .respuesta {
        text-align: center;
      }
      input {
        border: 5px solid #27aae1;
        padding: 3px;
        font-weight: bold;
        font-size: 17px;
        width: 300px;
        margin: 5px;
        text-transform: uppercase;
      }
      #comando {
        border: 5px solid #27aae1;
        padding: 3px;
        font-weight: bold;
        font-size: 17px;
        width: 300px;
        margin: 5px;
        text-transform: uppercase;
        text-align: center;
        background: #fff;
        width: 500px;
        margin: 10px auto;
        padding: 10px;
        text-transform: inherit;
      }
    }
  }
}

.fa-check-circle {
  color: #8dc63f;
}

.fa-exclamation-triangle {
  color: #e1431f;
}

div.ortogramatron{
  #menu{
      width: 130px;
      top:8px;
      left:39px;
      position:absolute;
      float: none;
      padding:0;

  }//menu

  div#panel1 {
    display: none;
  }

  #maquinaCont{
    width: 350px;
    height: 350px;
    position: absolute;
    left: 42px;
    top: 112px;
    cursor: pointer;
    display: none;
  }

  #panel2{
    position: absolute;
    right: 10px;
    top: 0;
    width: 500px;
  }
}//ortogramatron 

.animalesLocos{
  .animales{
    width: 723px;
    margin:0 auto;
  }

  &#home #intrucciones {
    position: absolute;
    bottom: 52px;
    left: 136px;
    color: #fff;
    width: 607px;
  }

  #intrucciones {
    position: absolute;
    left: 129px;
    top: 346px;
    color: #fff;
    width: 500px;
  }

  #cambiar{
    padding: 10px 0;
    @extend .animales;
      button.button.pulse {
      margin: 0 40px;
    }
  }
}

.buscaPalabrasIndex{
  .panelLeft{
    width: 295px;
    float:left;
    p.inst{
      font-size: 24px !important;
      line-height: 21px !important;

    }
  }

  .panelRight{
    @extend .panelLeft;
  }
 
  &#home #intrucciones {
    position: absolute;
    bottom: 77px;
    left: 136px;
    color: #fff;
    width: 591px;
  }

}