@import "vars.scss";
@import "normalize.scss";
@import "normal.scss";
@import "hover.scss";
@import "compass/css3/";
@import "../../../libs/css/jquery-ui.css";




body{
    font-size: $baseFontSize;
    font-family: $bodyFontFamily;
    color:$color-negro;
    background:$color-blanco;
    line-height: $baseLineHeight;
}

.clear{
  clear:both;
}


.wrapper{
  width: $wrapper;
  margin: 0 auto;
  height: 600px;
  position:relative;
}

#home{
  background: url(../img/home.jpg) no-repeat;
  
  #logos{
    float: left;
    margin:90px 0 0 90px;
    img{
      float: left;
    }

  }//img

  #iniciar{
    @include border-radius(20px, 20px);
    background: $color-azulBoton;
    color:$color-blanco;
    font-size: $baseFontSize + 23;
    font-weight: bold;
    padding:10px;
    border: 4px solid $color-blanco;
    display:inline-block;
    position:absolute;
    top: 122px;
    right: 64px;
    a{
      text-decoration: none;
      color:#fff;
    }
  }//iniciar

  #titulo{
    position:absolute;
    top: 217px;
    left: 30px;
  }

  #avatarhome{
    position:absolute;
    bottom: 75px;
    right: 28px;
  }

  #intrucciones{
    position:absolute;
    bottom:92px;
    left: 136px;
    color: $color-blanco;
    width: 480px;
    p{
      font-size: $baseFontSize + 23;
      line-height: $baseFontSize + 44;
    }
    ol{
      list-style-type: decimal;
      list-style-position: inside;
      li{
        padding-bottom:3px;
      }
    }//ol
  }//




}//home

  .button{
    @include border-radius(20px, 20px);
    background: $color-azulBoton;
    color:$color-blanco;
    font-weight: bold;
    padding:10px;
    border: 4px solid $color-blanco;
  }//iniciar

  .verde{
    background: $color-verdeBack;
  }


#descomposicion{
  background: url(../img/fondo2.jpg) no-repeat;
  #titulo{
    position:absolute;
    bottom:20px;
    left:6px;
  }
  #avatar{
    position: absolute;
    bottom:0px;
    right: 10px;
  }

  #nav{
    position: absolute;
    bottom:10px;
    left: 230px;
    button{
      padding: 10px;
      margin-right: 20px;
      color:$color-blanco;
      border:2px solid $color-blanco;
      background:transparent;
      text-transform: uppercase;
    }
  }//nav
  
  #logos{
    position:absolute;
    bottom:67px;
    right: 164px;
    img.edinum{
      margin-right: 60px;
    }
  }//logos

  form#respuestas{
    width: 857px;
    margin:0 auto;
    input[type="text"]{
      background: url(../img/success.jpg) top center;
      float:left;
      display: inline-block;
      width: 93px;
      border: 1px solid #7E7C7C;
      color:$color-blanco;
      text-align: center;
      margin:3px;
      @include border-radius(5px, 5px);
      padding:5px 3px;
    }
  }
  



}//#descomposicion


#sortable { list-style-type: none; margin: 0 auto; padding: 50px 0; width: 857px; }
#sortable li { 
  margin: 3px 3px 3px 0; 
  padding: 1px; 
  float: left; 
  width: 100px; 
  height: 100px; 
  font-size: 4em; 
  text-align: center; 
  @include border-radius(5px, 5px);
}
  

  .stopwatch {
    display: inline-block;
    background-color: white;
    border: 1px solid #eee;
    padding: 5px;
    margin: 5px;
  }
  .stopwatch span {
    font-weight: bold;
    display: block;
  }
  .stopwatch a {
    padding-right: 5px;
    text-decoration: none;
  }



/* "You did it!" message */
    #successMessage {
      position: absolute;
      left: 50%;
      top: 150px;
      width: 0px;
      height: 0px;
      z-index: 100;
      background: url(../img/success.jpg) top center;
      border: 7px solid $color-blanco;
      @include border-radius(10px, 10px);
      @include single-box-shadow;
      padding: 20px;
      color:$color-blanco;
      text-align: center;

      h2{
        font-size: $baseFontSize + 18;
        line-height: $baseFontSize + 20;
        margin:40px;
      }


    }//successMessage